*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color : #000;
    margin : 0;
    padding : 0;
    vertical-align: baseline;
}
ol, ul, li {list-style: none;}
a{ text-decoration: none;}

.hide{position: absolute; left: -990px;}
.clear:after{content:""; display:table; clear: both;}

